h1 {
    color: black;
    text-align: center;
    font-size: 700%;
}

p {
    text-align: left;
    color: black;
    font-size: 150%;
}

img {
    width: 39%;
    
}

a {
    color: blue;
    font-size: 100%;
}

